@import "tailwindcss";

:root {
  --red: #b5122c;
  --red-dark: #7d0d1f;
  --gold: #d3a24a;
  --gold-light: #eecf8f;
  --cream: #fbf1de;
  --cream-light: #fffaf0;
  --ink: #241611;
  --ink-soft: #55423b;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif);
}

body {
  background-color: var(--cream);
  color: var(--ink);
  font-family: var(--font-sans);
}